@* The contents of this view make up the body of the HTTP response message. If you right-click on
the page in your browser and select View Page Source (or whatever the option is called in your
browser of choice) you can see that the source of the page is exactly this view, minus this comment. *@
<!doctype html>

<html>
  <head>
    <title>Basic View</title>
  </head>

  <body>
    <p>Hello, world!</p>
  </body>
</html>